* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    flex-grow: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 35px 0;
}

header h1 {
    font-size: 3em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

ul li {
    margin-top: 20px;
    display: inline-block;
    margin-right: 20px; 
}

ul li a {
    display: inline-block;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.watermark-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.watermark {
    opacity: 1;
    width: 500px; /* Adjust as needed */
}

.watermark-text {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.additional-text {
    text-align: center;
    font-size: 1em;
    margin-bottom: 10px;
}


.signup-button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    padding: 0;
}

.signup-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.signup-form {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.signup-form label {
    margin-bottom: 5px;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.signup-form input[type="submit"] {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.blog-post {
    margin-bottom: 20px;
}

.blog-post-title {
    margin: 0;
    color: #333;
}

.blog-post-date {
    font-size: 0.8em;
    color: #777;
}

.blog-post-content {
    text-align: justify;
}

.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%; /* Adjust this to make the container smaller or larger */
    margin: 50px auto; /* This centers the container horizontally */
}